@import "../../../../assets/styles/variables";
.catalog-sorting {
  width: 190px;
  min-width: 190px;
  box-sizing: border-box;
  position: relative;
  font-size: 16px;
  cursor: pointer;

  .catalog-sorting-head {
    display: flex;
    align-items: center;
    padding: 12px 0 12px 23px;
    justify-content: space-between;
    font-size: 16px;
    color: $gray-text-color;
    span {
      margin-right: 8px;
    }
  }

  .catalog-sorting-body {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 3;
    display: none;
    padding: 12px 23px;
    background: #F5F5F5;
    border-radius: 0 0 5px 5px;
    color: #8E8E8E;

    .catalog-sorting-item {
      margin-bottom: 14px;

      &.active {
        color: #313131;
      }

      &:last-child {
        margin-bottom: 0;
        cursor: pointer;
      }
    }
  }

  &.open {
    width: 257px;
    min-width: 257px;
    .catalog-sorting-head {
      color: #000000;
      background: #EBEBEB;
      border-radius: 5px 5px 0 0;
      padding-right: 23px;
    }

    .catalog-sorting-body {
      display: block;
    }
  }

}
